<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
</head>
<body>
<h1>tasks</h1>
<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">task name</th>
        <th scope="col">author</th>
        <th scope="col">actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasklist}">
        <th scope="row" th:text="${task.getId()}"></th>
        <td th:text="${task.getName()}"></td>
        <td th:text="${task.getAuthor().getName()}"></td>
        <td>

            <a th:href="@{tasks/form/edit/{id}(id=${task.getId()})}"><i class="fas fa-edit"></i></a>

            <a th:href="@{tasks/form/delete/{id}(id=${task.getId()})}"><i class="fas fa-eraser"></i></a>

        </td>
    </tr>
    </tbody>
</table>

<a th:href="@{/tasks/form/add}">
    <button class="btn btn-primary">adicionar task</button>
</a>

<script src="https://kit.fontawesome.com/d851ea80c3.js" crossorigin="anonymous"></script>
</body>
</html>